# C .gitignore template by GitHub
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/Bibliografia
*.sublime-workspace
*.sublime-project

/Slides

*.pdf

/DS
/lixo
tp1/src/src.rar
tp2/instancias/teste.i
tp2/instancias/teste.tst.i
sort/
tp2/webapp/geradores/config_local.ini
tp2/webapp/venv/
