{% extends "base.html" %}

{% block title %}Sugestões{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='sugestoes.js') }}"></script>
{% endblock %}

{% block container %}
<h1>Suas recomendações</h1>
<p>Nosso sistema processou os seus filmes assistidos e concluiu que você pode gostar dos filmes a seguir:</p>
<div class="row">
{% for filme in dados %}
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="http://www.imdb.com/title/{{ filme[1]['imdbID'] }}">
                        <img src="{{ filme[1]['Poster'] }}" alt="Poster" class="poster resultados" draggable="false">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ filme[1]['Title'] }} ({{ filme[1]['Year'] }})</h4>
                        <p>{{ filme[1]['Runtime'] }} | {{ filme[1]['Genre'] }}</p>
                        <p><strong>Diretor: </strong>{{ filme[1]['Director'] }}</p>
                        <div class="button-drawer">
                            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" title="Sinopse" data-content="{{ filme[1]['Plot'] }}" data-placement="bottom"><i class="fa fa-book fa-lg"></i></button>
                            <a class="btn imdb_rating" href="http://www.imdb.com/title/{{ filme[1]['imdbID'] }}" title="IMDb" data-toggle="tooltip" data-placement="bottom" data-container="body">{{ filme[1]['imdbRating'] }}</a>
                            <a class="btn metacritic_rating" href="http://www.metacritic.com/search/movie/{{ filme[1]['Title'] }}/results" title="Metascore" data-toggle="tooltip" data-placement="bottom" data-container="body">{{ filme[1]['Metascore'] }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
